[submodule "tframe"]
	path = tframe
	url = https://github.com/WilliamRo/tframe
[submodule "roma"]
	path = roma
	url = https://github.com/WilliamRo/roma
[submodule "pictor"]
	path = pictor
	url = https://github.com/WilliamRo/pictor
